@{
    ViewBag.Title = "Về chúng tôi";
}
<h2>@ViewBag.Title.</h2>
<p>
    Chuyên cung cấp các loại giày mới nhất
    giá tốt, chất lượng và đẹp mắt đến người dùng.
</p>
<img src="~/Content/images/giay1.jpg">