@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<address style="margin-top:30px">
    <h5><b>Địa chỉ: </b>Quốc lộ 1A, Hồ Chí Minh</h5>
    <h5><b>Số điện thoại:</b> 036.815.1672</h5>
    <h5><b>Email:</b> giaypro@gmail.com</h5>

</address>

<address>
    <strong>Trợ giúp:</strong>   <a href="mailto:Support@example.com">giaypro@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketinggiaypro@example.com</a>
</address>

<img src="~/Content/images/banner.jpg" width="100%" />