
@{
    ViewBag.Title = "Mua hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="text-align:center">
    <h2>Mua hàng thành công</h2>
    <h4>Bạn đã đặt hàng thành công!, mời bạn kiểm tra mail để kiểm tra đơn hàng của mình.</h4>
    <img src="~/Content/images/thanhtoan.png" width="400px" />
    <a class="btn btn-success" href="/home/index">Tiếp tục mua hàng</a>
    <a class="btn btn-success" href="/home/HoaDon">Xem hóa đơn</a>
</body>

